
/* Fine adjustments on uk-thumbnav */
.results-container .uk-thumbnav > * > ::after {
  background: rgba(255,255,255,0.2);
}

.results-container .result-item-thumbnail-holder,
.results-container .uk-thumbnav > * > ::after {
  height: 169px;
}

.results-container .uk-thumbnav > * > :focus::after,
.results-container .uk-thumbnav > * > :hover::after {
  background-color: transparent;
}

.results-container .result-item-caption {
  width: 300px;
}

.results-container .uk-thumbnav > * > :focus,
.results-container .uk-thumbnav > * > :hover {
  text-decoration: none;
}
