
.movie-details dt {
  color: rgba(255, 255, 255, .3);
}

.movie-details-img-container {
  float: left;
  min-width: 342px;
  min-height: 497px;
}

.movie-details dt,
.movie-details dd {
  margin-left: 362px;
}
